.title-and-button{
    display: flex;
    justify-content: space-between;

    &__title{
        font-size: 20px !important;
        margin: 0 !important;
        font-weight: 500 !important;
        line-height: 1 !important;
    }    

    &__button{
        margin: 0 !important;
    }
}

.h1-small{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-company{
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow;

    &__image{
        height: 100% !important;
        object-fit: contain;
    }
}

.info-frame__text{
    &-max{
        max-width: 500px;
    }
}

.base-table{
    width: 100%;

    &__thead{
        border-bottom: 1px solid #ADADAD;
        text-align: center;
    }

    &__th{
        padding: 16px;
    }

    tr{
        border-bottom: 1px solid #ADADAD;

        &:last-child{
            border-bottom: none;
        }
    }

    &__td{
        padding: 8px;
        text-align: center;
        color: $secondary-color;
        font-size: 14px;


        p{
            font-size: 14px;
            margin: 0;
            padding: 8px;
        }
    }
}