.dart-home{
    // margin-bottom: 80px;

    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .dart-link-all{
            margin: 0;
        }
    }
}

.dart-link-all{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: var(--secondary-color);
    text-decoration: none !important;

    i{
        font-size: 18px;
    }

    &:hover{
        color: var(--link-color-hover);
    }
}


.d-col-promoSwiperMini{
    // max-height: 160px;
    width: 100%;
    // margin-left: 8px;
    margin-top: 8px;
    position: relative;
}


.promoSwiper{
    // max-height: 350px;
    //height: 400px;
    width: 100%;
    border-radius: 5px;

    &__slide{
        position: relative;

        img{
            width: 100% !important;
            border-radius: 5px;
            // max-height: 350px;
            object-fit: contain;
        }

        p{
            padding: 32px;
            position: absolute;
            color: #FFF;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
        }
    }
}


.promoSwiperMini{
    width: 100%;
    height: 100%;
    // max-height: 160px;

    &__slide{
        border-radius: 5px;
        overflow: hidden;
        background: linear-gradient(106deg, #FEC23D 3.93%, #FF6652 101.62%);
        position: relative;
        
        img{
            width: 100%;
            height: 100% !important;
            // max-height: 160px;
            object-fit: cover;
        }

        p{
            position: absolute;
            padding: 16px 12px;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }
    }
}

.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    border: 2px solid #ffffff98 !important;
    background-color: transparent !important;
    transition: all 0.3s !important;
}

.swiper-pagination-bullet-active{
    width: 12px !important;
    height: 12px !important;
    background: #ffffff98 !important;
    border: 2px solid #FFFFFF !important;
}

.dart-swiper-next{
    width: 48px !important;
    height: 48px !important;
    display: flex !important;
    background: var(--main-background-windows);
    border-radius: 50%;
    box-shadow: $shadow !important;
    right: -10px !important;
    &::after{
        content: "\e90a" !important;
        font-family: 'icomoon' !important;
        font-size: 24px !important;
        color: var(--secondary-color);
        position: absolute;
        left: 54%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.dart-swiper-prev{
    left: -10px !important;
    width: 48px !important;
    height: 48px !important;
    display: flex !important;
    background: var(--main-background-windows);
    border-radius: 50%;
    box-shadow: $shadow !important;
    &::after{
        content: "\e906" !important;
        font-family: 'icomoon' !important;
        font-size: 24px !important;
        color: var(--secondary-color);
        position: absolute;
        left: 49%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.swiper-button-disabled{
    opacity: 0 !important;
}

.dartSwiperNew{
    // height: 256px;

    &__slide{
        position: relative;
        p{
            position: absolute;
            padding: 16px 12px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: #282828;
            top: 0;
        }

        img{
            width: 100%;
            border-radius: 8px;
        }
    }
}


.dartSwiperSezon{
    &__slide{
        position: relative;

        img{
            width: 100%;
            border-radius: 8px;
        }
    }
}

.dartSwiperIdea{
    &__slide{
        position: relative;

        img{
            width: 100%;
            border-radius: 8px;
        }
    }
}

.dartSwiperEveryDay{
    &__slide{
        position: relative;

        img{
            width: 100%;
            border-radius: 8px;
        }
    }
}

.dart-swiper-new{
    position: relative;
}

.dart-swiper-manufacturer{
    position: relative;
}

.dartSwiperManufacturer{
    &__slide{
        border-radius: 5px;
        background: var(--btn-secondary-outline-background);
        padding: 8px;
        height: 130px !important;
        display: flex !important;
        align-items: center !important;
        justify-self: center !important;
    }
}

.card-img-text{
    background: var(--btn-secondary-outline-background);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0 !important;
    text-decoration: none;

    img{
        height: 106px !important;
        object-fit: contain;
    }

    &:hover{
        color: none;
    }
    &__icon{
        font-size: 70px;
        color: #003F55;
        &:hover{
            color: none;
        }
    }

    &__text{
        text-align: center;
        color: var(--secondary-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}

.whoWorking{
    background: #F0FADF;
    padding: 24px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;

    &:hover{
        color: none;
    }

    img{
        margin: 0 80px;
    }

    &__text{
        h3{
            color: #282828;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            width: 80%;
        }

        p{
            color: #282828;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

.card-icon-title{
    padding: 24px;
    border-radius: 5px;
    margin-top: 8px;
    height: 100%;

    i{
        font-size: 34px; 
    }


    h3{
        color: #282828;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        width: 85%;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    p{
        color: #282828;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}


.link-no-style{
    text-decoration: none;
    &:hover{
        color: unset;
    }

}

.dart-catalog-menu-mobile{
    display: none;
}


.catalog-menu-el{
    p{
        text-align: center;
    }
}

.catalog-menu-big-card{
    p{
        position: relative;
        top: -20px;
    }
}

.catalog-menu-el{
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        text-align: center;
    }
}

.catalog-menu-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dart-window{
    background: var(--main-background-windows);
    padding: 24px;
    border-radius: 5px;
}

.dart-catalog-menu-mobile{
    .dart-input{
        display: none;
    }
}

.d-col-menu{
    max-width: 287px;
    height: 100%;
    // position: sticky;
    // top: 8px;
}

.d-col-content{
    width: calc(100% - calc(287px + 350px));
    padding: 0 24px;
}

.d-col-map{
    width: 350px;
    height: 100%;
    top: 8px;
    position: sticky;
}

.cards-img-text-mobile{
    padding: 0 8px;
    gap: 8px 0;

    .d-col-lg-3{
        padding: 0 4px;
    }

    a{
        padding: 0 4px;
    }
}

.dart-custom-grid{
	display: flex;
}

.d-col-main-swiper{
    width: 100%;
    height: 100%;
//     display: flex;
//     flex-direction: column;
}

.catalog-mobile{

    p{
        font-size: 12px;
        padding: 0 10%;
        text-align: center;
    }

    display: none;

    &__left{
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    &__left-cont{
        width: 50%;
    }

    &__left-cont-small{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 18px 0;
        align-content: space-between;
    }

    &__right{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 18px 0;
    }

    &__big{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        &::before{
            border-radius: 50% 50% 49% 51% / 75% 75% 25% 25%;
            position: absolute;
            content: "";
            background-color: var(--main-background-windows);
            height: 100px;
            width: 100px;
            top: 45%;
            transform: translate(0, -50%);
        }
    }

    &__img{
        width: 150px;
        height: 195px;
        display: flex;
        align-items: center;
        border-radius: 7px;
        background: var(--btn-secondary-outline-background);
        // background-color: #FF6652;

        margin-bottom: 12px;

        img{
            z-index: 1;
            position: relative;
        }
    }

    &__small{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        align-items: center;

        &::before{
            border-radius: 50% 50% 49% 51% / 75% 75% 25% 25%;
            position: absolute;
            content: "";
            background-color: var(--main-background-windows);
            height: 50px;
            width: 50px;
            top: 40%;
            transform: translate(0, -50%);
        }
    }

    &__small-two{
        width: 100%;
    }

    &__img-small{
        width: 80%;
        height: 81px;
        display: flex;
        justify-content: center;
        background: var(--btn-secondary-outline-background);
        // background-color: #FF6652;
        border-radius: 7px;
        margin-bottom: 8px;

        img{
            z-index: 1;
            object-fit: contain;
            height: 100% !important;
        }
    }
}

@media (max-width: $desktop){
	.whoWorking img{
        margin: 0 20px 0 0;
    }

    .d-col-content{
        padding: 0 16px !important;
    }
}

@media (max-width: 1600px){

    .d-col-main-swiper{
        flex-direction: column;
    }

    .whoWorking{
        flex-direction: column;
        align-items: flex-start;
    }

	.promoSwiper {
        width: 100%;
    }

    .d-col-promoSwiperMini{
        width: 100%;
        height: unset;
        margin: unset;
        margin-top: 8px;
    }

    .d-col-menu{
        max-width: 237px;
        height: 100%;
    }

    .menu-catalog-button{
        width: 237px !important;
    }
    
    .d-col-content{
        width: calc(100% - calc(237px + 324px));
        padding: 0 24px;
    }
    
    .d-col-map{
        width: 324px;
        height: 100%;
    }
}

@media (max-width: $small-desktop){

    .menu-catalog-button{
        display: none !important;
    }

    .dart-window{
        border-radius: 15px;
    }

    .dart-catalog-menu-mobile{
        h2{
            display: none !important;
        }

        .dart-input{
            display: block;
        }
    }

    .d-col-menu{
        position: relative;
        top: 0;
    }

    .d-col-content{
        padding: 16px 0 !important;
        width: 100%;
    }

    .dart-custom-grid{
        display: flex;
        flex-direction: column;
    }
    
    .whoWorking{
        flex-direction: row;
        align-items: center;
    }

    .whoWorking img{
        margin: 0 60px;
    }
    
    .d-col-menu{
        max-width: 100%;
        height: 100%;
    }

    .d-col-map{
        display: none;
    }

    .dart-catalog-menu{
        display: none;
    }

    .dart-window{
        padding: 24px 16px;
    }

    .dart-catalog-menu-mobile{
        display: flex;
        flex-direction: column;
    }

    .catalog-menu-el{
        p{
            font-size: 14px;
        }
    }

    .catalog-mobile{
        display: flex;
    }

    .brand-catalog{
        display: none !important;
    }

}

@media (max-width: $tablets){
    .whoWorking{
        flex-direction: column;
        align-items: flex-start;

        img{
            margin: 0;
        }
    }

    .dart-catalog-menu-mobile-two{
        img{
            width: 120px !important;
        }
    }

    .catalog-menu-el{
        img{
            width: 90px;
        }
    }

    .catalog-menu-big-card{
        img{
            width: auto !important;
        }
    }

    .dart-catalog-menu-mobile-two{
        img{
            width: 100px !important;
        }
    }

    .dart-home{
        margin-bottom: 32px;
    }

    .promoSwiperMini{
        height: unset;
    }

    .promoSwiper{
		margin-bottom: 8px;
        width: 100%;

		&__slide{
			p {
				padding: 30px;
				font-size: 32px;
				line-height: 1;
			}
		}
	}


    .catalog-mobile__img{
        height: 212px;
    }

    .catalog-mobile__big::before {
        height: 80px;
        width: 80px;
    }
}

@media (max-width: $small-tablets){
    .catalog-mobile__img{
        height: 155px;
        width: 128px;
        margin-bottom: 8px;
    }

    .catalog-mobile__img-small{
        width: 90%;
        height: 56px;
        margin-bottom: 6px;
    }

    .catalog-mobile__right{
        gap: 12px 0;
    }

    .catalog-mobile__left-cont-small{
        gap: 15px 0;
    }

    .catalog-mobile p{
        padding: 0 5%;
    }

    .catalog-mobile__big::before {
        height: 60px;
        width: 60px;
    }

    .catalog-mobile__small::before {
        border-radius: 50% 50% 49% 51% / 75% 75% 25% 25%;
        height: 30px;
        width: 30px;
        top: 35%;
    }
    
    .dart-catalog-menu-mobile-two{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dart-catalog-menu-mobile-swipe{
        display: none;
    }

    .catalog-menu-big-card{
        img{
            width: 250px !important;
        }
    }

    .catalog-menu-el{
        p{
            font-size: 12px;
        }
    }

    .catalog-menu-big-card p {
        position: relative;
        top: -3px;
    }

    .promoSwiper{
		margin-bottom: 8px;

		&__slide{
			p {
				padding: 30px;
				font-size: 30px;
				line-height: 1;
			}
		}
	}

	.swiper-pagination-bullet{
		width: 10px !important;
		height: 10px !important;
		border: 1px solid #FFFFFF !important;
	}
}

@media (max-width: $big-phones){

    .catalog-mobile{
        flex-direction: column;
        gap: 16px;

        &__left{
            width: 100%;
        }

        &__right{
            width: 100%;
        }
    }

    .promoSwiper{
		margin-bottom: 8px;

		&__slide{
			p {
				padding: 28px;
				font-size: 26px;
				line-height: 1;
			}
		}
	}


    
    .dart-swiper-next{
        width: 30px !important;
        height: 30px !important;
        right: 0px !important;
        top: 55% !important;

        &::after{
            font-size: 20px !important;
        }
    }

    .dart-swiper-prev{
        left: 0px !important;
        width: 30px !important;
        height: 30px !important;
        top: 55% !important;

        &::after{
            font-size: 20px !important;
        }
    }

}


@media (max-width: $phones){
    .dart-catalog-menu-mobile-two{
        img{
            width: 56px !important;
        }
    }

    .catalog-menu-el{
        margin-top: 12px;
    }

    .catalog-menu-el img {
        width: 56px;
    }

    .promoSwiper{
		margin-bottom: 8px;

		&__slide{
			p {
				padding: 28px;
				font-size: 22px;
				line-height: 1;
			}
		}
	}

	.swiper-pagination-bullet{
		width: 8px !important;
		height: 8px !important;
		border: 1px solid #FFFFFF !important;
	}

    .dartSwiperManufacturer__slide{
        height: 85px !important;
    }
}