.dart-home{
    border-radius: 5px;
    background: var(--main-background-windows);
    padding: 24px;

    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            color: var(--secondary-color);

            i{
                font-size: 18px;
            }
        }
    }
}

.promoSwiper{
    height: 332px;
    //background: linear-gradient(106deg, #FEC23D 3.93%, #FF6652 101.62%);
    border-radius: 5px;

    &__slide{
        position: relative;

        img{
            width: 100%;
            height: 100% !important;
            object-fit: cover;
        }

        p{
            padding: 32px;
            position: absolute;
            color: #FFF;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
        }
    }
}

.promoSwiperMini{
    height: 332px;

    &__slide{
        border-radius: 5px;
        background: linear-gradient(106deg, #FEC23D 3.93%, #FF6652 101.62%);
        position: relative;
        
        img{
            width: 100%;
            height: 100% !important;
            object-fit: cover;
        }

        p{
            position: absolute;
            padding: 16px 12px;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }
    }
}

.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    border: 2px solid #ffffff98 !important;
    background-color: transparent !important;
    transition: all 0.3s !important;
}

.swiper-pagination-bullet-active{
    width: 12px !important;
    height: 12px !important;
    background: #ffffff98 !important;
    border: 2px solid #FFFFFF !important;
}

.dart-swiper-next{
    width: 48px !important;
    height: 48px !important;
    display: flex !important;
    background: var(--main-background-windows);
    border-radius: 50%;
    box-shadow: $shadow !important;
    right: -10px !important;
    &::after{
        content: "\e90a" !important;
        font-family: 'icomoon' !important;
        font-size: 24px !important;
        color: var(--secondary-color);
        position: absolute;
        left: 54%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.dart-swiper-prev{
    left: -10px !important;
    width: 48px !important;
    height: 48px !important;
    display: flex !important;
    background: var(--main-background-windows);
    border-radius: 50%;
    box-shadow: $shadow !important;
    &::after{
        content: "\e906" !important;
        font-family: 'icomoon' !important;
        font-size: 24px !important;
        color: var(--secondary-color);
        position: absolute;
        left: 49%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.swiper-button-disabled{
    opacity: 0 !important;
}

.dartSwiperNew{
    height: 256px;

    &__slide{
        position: relative;
        p{
            position: absolute;
            padding: 16px 12px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: #282828;
            top: 0;
        }
    }
}

.dart-swiper-new{
    position: relative;
}

.dart-swiper-manufacturer{
    position: relative;
}

.dartSwiperManufacturer{
    &__slide{
        border-radius: 5px;
        background: var(--btn-secondary-outline-background);
        padding: 8px;
        height: 130px !important;
        display: flex !important;
        align-items: center !important;
        justify-self: center !important;
    }
}

.card-img-text{
    background: var(--btn-secondary-outline-background);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
    &__icon{
        font-size: 70px;
    }

    &__text{
        text-align: center;
        color: var(--secondary-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}

.whoWorking{
    background: #F0FADF;
    padding: 24px;
    display: flex;
    align-items: center;
    border-radius: 5px;

    img{
        margin: 0 80px;
    }

    &__text{
        h3{
            color: #282828;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            width: 80%;
        }

        p{
            color: #282828;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

.card-icon-title{
    padding: 24px;
    border-radius: 5px;
    margin-top: 12px;
    height: 100%;

    i{
        font-size: 34px;
       
    }


    h3{
        color: #282828;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        width: 85%;
        margin-bottom: 8px;
        margin-top: 33px;
    }

    p{
        color: #282828;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}

