.product-title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        margin: 0;
    }

    img{
        width: 95px;
    }
}

.product-speed-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;

    &__comparison{
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        transition: all 0.3s;

        p{
            font-size: 14px;
            transition: all 0.3s;
        }

        &:hover{
            color: var(--link-color-hover);

            p{
                color: var(--link-color-hover);
            }
        }
    }

    &__half{
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__text{
        display: flex;
        align-items: center;
        gap: 12px;
        p{
            color: var(--text-color-dop);
            font-size: 14px;
        }
    }
}

.product-info{
    display: flex;
    gap: 16px;
    margin-top: 16px;

    &__img-card{
        position: sticky;
        top: 0;
    }

    &__slide{
        border-radius: 5px !important;

        img{
            border-radius: 5px !important;
        }
    }

    .mySwiperProduct{
        .product-info__slide{
            cursor: pointer;
        }
    }

    &__img{
        width: 450px;
    }

    &__content{
        width: calc(100% - 450px);
    }

    &__stocks-container{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__stocks{
        display: flex;
        align-items: center;
        line-height: 1;
        justify-content: center;
        font-size: 14px;
        padding: 2px 8px 4px 8px;
        border: 1px solid;
        border-radius: 5px;
        white-space: nowrap;
        cursor: pointer;
    }
}

.mini-property{
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 16px 0;

    &__el{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        p{
            font-size: 14px;
            line-height: 1;
            color: var(--secondary-color);

        }
    }

    &__name{
        color: var(--text-color-dop) !important;
    }

    &__all{
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 14px;
        line-height: 1;
        transition: all 0.3s;

        .d_icon-right-arrow{
            font-size: 16px;
            position: relative;
            top: 2px;
        }

        &:hover{
            color: var(--link-color-hover);
        }
    }
}

.procutc-presence{
    margin-top: 25px;

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 12px;
        border-radius: 5px;
        border: 1px solid var(--border-color);

        &.empty{
            justify-content: center;
            padding: 32px 12px;

            p{
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                color: var(--text-color-dop);
            }
        }
    }

    &__price{
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        color: var(--secondary-color);
        margin-bottom: 8px;
    }

    &__credit{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: var(--text-color-dop);
        line-height: 18px;
    }
}

.prodoct-shop-count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 23px;


    img{
        border: 1px solid var(--text-color-dop);
        width: 40px;
        height: 40px !important;
        object-fit: contain;
        border-radius: 50%;
    }

    p{
        font-size: 14px;
        line-height: 1;
    }
}

.product-method-get{
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3{
        margin-bottom: 4px;
    }

    &__el{
        font-size: 14px;
        line-height: 1;
        margin: 0;
        p{
            margin-bottom: 6px;

            span{
                cursor: pointer;
                color: var(--text-color-dop);
            }
        }

        span{
            color: var(--text-color-dop);
        }

        &-flex{
            span{
                display: flex;
                align-items: center;
                gap: 6px;
            }    

            p{
                margin: 0;
            }
        }
    }
}

.product-shops{
    margin-top: 40px;

    &__card + &__card{
        margin-top: 40px
    }

    &__all{
        font-weight: 500;
        text-decoration: none;
        margin-top: 24px;
        display: block;
    }

    h3{
        margin-bottom: 20px;
    }

    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;

        img{
            border: 1px solid var(--text-color-dop);
            width: 40px;
            height: 40px !important;
            object-fit: contain;
            border-radius: 50%;
        }

        p{
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            color: var(--text-color-dop);
            line-height: 18px;
        }
    }

    &__text{
        font-size: 14px;
        line-height: 1;

        p{
            color: var(--secondary-color);
        }

        span{
            color: var(--text-color-dop);    
        }

        p + p{
            margin-top: 4px;
        }
    }

    &__vender{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;
        margin-bottom: 12px;

        span{
            display: flex;
            align-items: center;
            gap: 6px;
        }
        p{
            font-size: 14px;
        }
    }
}

.product{
    &__desctipton{
        max-width: 670px;
        line-height: 18px;
        font-size: 14px;
        margin-bottom: 40px;
    }
}

.product-property{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 16px 48px;
    margin-bottom: 40px;

    &__el{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        p{
            font-size: 14px;
            line-height: 1;
            color: var(--secondary-color);
        }
    }

    &__name{
        color: var(--text-color-dop) !important;
        padding-right: 25px;
    }
}

.product-feedback{
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__half{
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__slider{
        position: relative;
    }

    &__el{
        margin-top: 40px;
    }

    &__el-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__hands{
        display: flex;
        align-items: center;
        gap: 12px;

        p{
            color: var(--text-color-dop);
            font-size: 14px;
            line-height: 1;
        }
    }

    &__ava{
        border: 1px solid var(--text-color-dop);
        width: 40px;
        height: 40px !important;
        object-fit: contain;
        border-radius: 50%;
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: 6px;
        font-size: 14px;
        line-height: 18px;
    }

    &__text + &__text{
        margin-top: 16px;
    }
}