.promo-tag{
    color: #fff;
    border-radius: 5px;
    background: #F29D61;
    padding: 4px 8px;
    margin-left: 8px;
    line-height: 1;
    font-size: 14px;
    position: relative;
    top: 4px;
}

.promo-tag-mobile{
    color: #fff;
    border-radius: 5px;
    background: #F29D61;
    padding: 4px 8px;
    margin-bottom: 10px;
    line-height: 1;
    font-size: 14px;
    position: relative;
    top: 4px;
    width: fit-content;
    display: none;
}

.promo-info-bottom{
    margin-top: 20px;
}

.promo-info{
    position: relative;
    display: flex;

    &__text{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    img{
        width: 40%;
        object-fit: contain;
    }

    &__description{
        width: 60%;
    }
    
    .h1-mini{
        padding-right: 40px;
        line-height: 1.2;
    }

    &__details{
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // height: calc(100% - 74px);
    }

    &__el{
        margin-top: 10px;
        font-size: 14px;
        color: var(--text-color-dop);

        span{
            color: var(--secondary-color);
        }
    }

    &__el + &__el{
        margin-top: 8px;
    }
}

.promo-products{
    margin-top: 40px;
}

@media (max-width: $tablets){
    .promo-info{
        flex-direction: column-reverse;

        &__text{
            width: 100%;
        }

        img{
            width: 100% !important;
            height: 200px !important;
            object-fit: cover;
            margin-bottom: 16px;
        }

        &__description{
            width: 100%;
        }
    }
}

@media (max-width: $small-tablets){
    .promo-tag{
        display: none;
    }

    .promo-tag-mobile{
        display: block;
    }
}

// $tablets:               "991px";    // lg		d-col-lg-{1-12}
// $small-tablets:         "768px";    // md		d-col-md-{1-12}
// $big-phones:            "600px";    // sm		d-col-sm-{1-12}
// $phones: 