.profile-menu{
    background: var(--main-background-windows);
    border-radius: 5px;
    width: 287px;

    .d_icon{
        margin-right: 12px;
        font-size: 24px;
    }

    &__avatar{
        background-color: #F29D61;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 33px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        color: #FFF;

        &-img{
            width: 80px !important;
            height: 80px !important;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__top{
        padding: 16px;
    }

    &__name{
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        margin-top: 16px;
        margin-bottom: 4px;
    }

    &__nav{
        display: flex;
        flex-direction: column;

        a{
            transition: all 0.3s;
            display: flex;
            align-items: center;
            height: 48px;
            text-decoration: none;
            padding: 0 16px;


            &:hover{
                color: unset;
                background-color: var(--btn-secondary-outline-background);
            }
        }

        .active{
            background-color: var(--btn-secondary-outline-background);
        }
    }
}


.d-col-profile{
    width: 752px;
    border-radius: 5px;
    background-color: var(--main-background-windows);
    margin-left: 24px;
    padding: 24px;
}

.address-list{
    margin-top: 20px;
    &__el{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0;

        .d_icon{
            font-size: 20px;
        }
    }

    &__el + &__el{
        border-top: 1px solid var(--text-color-dop);
    }
}

.profile-order-cart{
    margin-top: 32px;

    &__el + &__el{
        margin-top: 40px;
        display: block;
    }

    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3{
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    &__info{
        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
            max-width: 70%;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            display: flex;
            align-items: center;
            gap: 4px;

            span{
                color: var(--text-color-dop);
            }
        }
    }

    &__success{
        padding-left: 10px;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            width: 2px;
            background: #8FFF00;
        }
    }

    &__img{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 8px;

        img{
            width: 80px;
            height: 80px !important;
            object-fit: contain;
            border-radius: 5px;
        }
    }

    &__img-all{
        cursor: pointer;
        padding: 10px;
        background-color: var(--btn-secondary-outline-background);
        color: var(--btn-secondary-outline-color);
        transition: all 0.3s;
        border-radius: 5px;

        &:hover{
            background-color: var(--btn-secondary-outline-hover);
        }
    }
}

.profile-title-return{
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;

    &__right-link{
        position: absolute;
        right: 0;
        font-size: 14px;
        color: var(--text-color-dop);
    }

    h1{
        margin: 0;
    }

    a{
        text-decoration: none;
        display: flex;
        align-items: center;
        
        &:hover{
            color: var(--btn-secondary-outline-color);
        }
    }

    .d_icon-left-arrow{
        font-size: 26px;
        position: relative;
        top: 3px;
    }
}

.p-mini{
    font-size: 14px;
    line-height: 1;
}

.profile-select-return{

    &__order{
        padding-left: 32px;
        margin-bottom: 20px;


    }
    &__product{
        margin-bottom: 40px;
    }

}

.product-card{
    display: flex;
    gap: 12px;

    img{
        width: 90px !important;
        height: 90px !important;
        object-fit: contain;
    }

    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;

        .p-mini{
            width: 80%;
            line-height: 1.1;
        }
    }

    &__info{
        width: -webkit-fill-available;
        span{
            color: var(--text-color-dop);
            font-size: 12px;
            margin-top: 12px;
            margin-top: 0;
        }
    }

    &__article{
        color: var(--text-color-dop);
        gap: 8px;
        display: flex;
        flex-direction: column;
    }
}

.profile-return{
    .product-card{
        margin-bottom: 24px;
    }

    &__card{
        padding-bottom: 40px;
        border-bottom: 1px solid var(--text-color-dop);
        margin-bottom: 40px;
    }

    &__info{
        h3{
            margin-bottom: 20px;
        }

        .dart-input{
            margin-bottom: 16px;
        }

        .p-mini{
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }
}

.product-success{
    &__img{
        margin-bottom: 24px;
    }

    h1{
        margin-bottom: 16px !important;
    }
}

.profile-product-info{
    &__order{
        padding-left: 32px;
    }

    &__сancel{
        display: none;
    }

    &__info{
        display: flex;
        flex-direction: column;
        gap: 12px;

        padding-bottom: 40px;
        border-bottom: 1px solid var(--text-color-dop);
        margin-bottom: 40px;
    }

    &__el{
        display: flex;
        p{
            width: 150px;
            color: var(--text-color-dop);
            margin-right: 20px;
        }

        span{
            width: calc(100% - 170px);
            span{
                color: var(--text-color-dop);
            }
        }
    }

    &__price-el{
        display: flex;
        b{
            width: 150px;

            span{
                color: var(--text-color-dop);
                text-decoration: line-through;
                margin-left: 8px;
            }
        }
    }

    &__container{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.profile-return-info{
    gap: 16px !important;

    &__commetn{
        display: flex;
        align-items: flex-start;
        gap: 12px;
    }

    &__answer{
        border-radius: 5px;
        background: var(--btn-secondary-outline-background);
        padding: 16px;

        b{
            margin-bottom: 12px;
            display: block;
        }

        span{
            color: var(--text-color-dop);
            font-size: 14px;
            line-height: 1;
        }
    }

    &__imgs{
        display: flex;
        gap: 8px;
        margin-top: 8px;
        margin-bottom: 12px;

        img{
            width: 93px !important;
            height: 93px !important;
            object-fit: contain;
            border-radius: 5px;
        }
    }
}

.profile-my-comment{
    &__product{
        display: flex;
        gap: 12px;

        img{
            width: 64px !important;
            height: 64px !important;
            object-fit: contain;
        }

        p{
            max-width: 80%;
        }
    }

    &__top{
        width: 100%;
    }

    &__info{
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 12px;

        span{
            font-size: 14px;
            color: var(--text-color-dop);
            line-height: 1;
        }
    }

    &__action{
        position: absolute;
        right: 0;
        font-size: 24px;
        color: var(--text-color-dop);
        cursor: pointer;
        z-index: 3;

        &.show{
            .profile-my-comment__actions{
                opacity: 1;
                pointer-events: all;
            }

            + .profile-my-comment__action-close{
                pointer-events: all;
            }
        }
    }

    &__reply{
        margin-top: 12px;
        float: right;
    }

    .product-feedback__el{
        margin-top: 16px;
    }

    &__actions{
        display: flex;
        flex-direction: column;
        min-width: 210px;
        background: var(--main-background-windows);
        padding: 8px 24px;
        border-radius: 5px;
        transition: all 0.3s;
        box-shadow: 0px 0px 12px 0px rgba(51, 51, 51, 0.15);
        position: absolute;
        right: 0;
        top: 30px;
        opacity: 0;
        pointer-events: none;

        a{
			// white-space: nowrap;
			padding: 16px 0;
			text-decoration: none;
            font-size: 16px;
            font-family: var(--bs-body-font-family);

			&:hover{
				color: var(--text-color-dop);
			}
		}

		a + a{
			border-top: 1px solid var(--text-color-dop);
		}
    }

    &__action-close{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 1;
    }
}

.profile-my-comment + .profile-my-comment{
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid var(--text-color-dop);
}

.reply-send{
    display: flex;
    gap: 12px;
    max-height: 0px;
    transition: all 0.6s;
    overflow: hidden;
    margin-top: 16px;
    position: relative;


    &__name{
        margin-bottom: 12px;

        b{
            font-size: 16px;
        }

        p{
            font-size: 14px;
            line-height: 1;
            color: var(--text-color-dop);
            margin-top: 4px;

            b{
                font-size: 14px;
                line-height: 1;
                color: var(--secondary-color);
            }
        }
    }

    &__rihgt{
        width: calc(100% - 52px);
    }

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;


        .d_icon-clip{
            cursor: pointer;
            font-size: 24px;
        }
    }

    &__buttons{
        display: flex;
        gap: 12px;
    }
}

.changeShopRating__answer{
    &.reply.show{
        .reply-send{
            max-height: 180px;
            transition: all 0.6s;
        }
    }
}

.p-gray{
    color: var(--text-color-dop);
}

.profile-title{
    &__return{
        display: none;
    }
}

@media (max-width: $small-desktop){
    .custom-grid-profile{
        flex-direction: row;

        .d-col-profile{
            margin-left: 16px;
        }
    }
}

@media (max-width: $tablets){
    .custom-grid-profile{
        flex-direction: column;

        .d-col-profile{
            margin-left: 0;
        }

        .profile-menu{
            display: none;
        }

        .d-col-profile{
            width: 100%;
        }
    }

    .newAddresDelivery{
        align-items: flex-start;

        &__content {
            width: 100%;
            height: 100dvh;
            border-radius: 0;
        }
    }

    .profile-title{
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        h1{
            margin: 0;
        }

        .d_icon-left-arrow{
            font-size: 20px;
            position: relative;
            top: 3px;
            padding: 0 8px;
        }

        &__return{
            display: block;
        }
    }
}

@media (max-width: $small-tablets){
    .newAddresDelivery__left {
        padding: 32px 16px;
    }

    .custom-grid-profile{
        .profile-order-cart__img{
            width: 41px;
            height: 40px !important;
        }
    }

    .profile-return-info__imgs{
        flex-wrap: wrap;
        
        img{
            width: 53px !important;
            height: 53px !important;
        }
    } 
    
}


@media (max-width: $big-phones){
    .custom-grid-profile{
        .address-list__el{
            p{
                padding-right: 10px;
            }
        }

        .profile-order-cart__top h3{
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            margin-bottom: 8px;
        }

        .profile-select-return__order{
            padding: 0;
            text-align: center;
            margin-bottom: 30px;
        }

        .profile-select-return{
            .dart-btn-primary{
                width: calc(100% - 32px);
            }

            &__button{
                width: calc(100% + 32px);
                transform: translateX(-16px);
                background: var(--main-background-windows);
                position: sticky;
                bottom: 0;
                padding: 8px 0 20px 0;
                display: flex;
                justify-content: center;
            }
        }

        .profile-title-return{
            justify-content: center;
        }

        .h1-mini{
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; 
        }
    }

    .d-col-profile{
        padding: 24px 16px;

        .dart-cheackbox-container{
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }
    }

    .product-card img{
        width: 54px;
        height: 54px !important;
    }

    .product-card__article{
        flex-direction: row;
        align-items: center;
    }

    .dropzone .dz-message .dz-button{
        width: 80%;
    }

    .profile-return__card{
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .profile-return__info{
        .dart-btn-primary{
            width: 100%;
        }
    }

    .product-success{
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p{
            text-align: center;
        }
    }

    .profile-title-return{
        &__right-link{
            display: none !important;
        }
    }

    .profile-product-info{
        &__order{
            text-align: center;
            padding: 0;
        }

        &__info{
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        &__сancel{
            display: flex;
            padding: 24px 0;
            margin-top: 24px;
            border-top: 1px solid var(--border-color);
        }
    }

    .profile-order-cart__top{
        align-items: flex-start;
        b{
            width: 95px;
            margin: 0;
            text-align: right;
        }
        h3{
            width: calc(100% - 95px);
        }

        p{
            font-size: 14px;
        }
    }

    .profile-order-cart__info{
        flex-direction: column-reverse;
        align-items: flex-start;

        p{
            max-width: 100%;
            width: 100%;
            font-size: 12px;
        }

        .profile-order-cart__success{
            margin-top: 8px;
        }
    }

    .profile-product-info__el{
        p{
            font-size: 14px;
            width: 45%;
            margin-right: 8px;
        }

        span{
            font-size: 14px;
            width: 55%;
        }
    }

    .profile-my-comment__product img{
        width: 54px !important;
        height: 54px !important;
    }

    .profile-my-comment__actions{
        padding: 8px 16px;
        min-width: 150px;
    }

    .profile-my-comment__actions a {
        padding: 12px 0;
        font-size: 14px;
    }

    .profile-my-comment + .profile-my-comment{
        margin-top: 20px;
        padding-top: 20px;
    }

    .profile-title{
        position: relative;
        h1{
            text-align: center;
            width: 100%;
        }

        .d_icon-left-arrow{
            position: absolute;
            top: 0;
        }
    }

    .profile-my-comment__product{
        gap: 8px;
    }

    .profile-comment-null{
        min-height: 70vh;
    }

    .profile-my-comment__action-close{
        // background: rgba(51, 51, 51, 0.45);
    }

    .newAddresDelivery{
        &__content{
            flex-direction: column-reverse
        }

        &__left{
            width: 100%;
            border-radius: 5px 5px 0px 0px;
            padding: 16px;
            flex-direction: column;
            justify-content: center;
            display: flex;

            h3{
                display: none;
            }
            height: 45%;
        }

        &__change{
            position: relative;
            bottom: 0;
            width: 100%;
            margin-top: 12px;
            margin-bottom: 32px;
        }

        &__right{
            width: 100%;
            height: 55%;
        }
    }

}

@media (max-width: $phones){
    .product-card__title{
        flex-direction: column;
        align-items: flex-start;

        b{
            margin-top: 4px;
        }
    }

    

    
    .product-card__title .p-mini{
        width: 100%;
        line-height: 1.1;
    }
}