.product-title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        margin: 0;
    }

    img{
        width: 95px;
        border-radius: 5px;
    }
}

.swiper-product-next,
.swiper-product-prev{
    top: calc(50% - 65px) !important;
}

.product-speed-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;

    &__comparison{
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        transition: all 0.3s;

        p{
            font-size: 14px;
            transition: all 0.3s;
        }

        &:hover{
            color: var(--link-color-hover);

            p{
                color: var(--link-color-hover);
            }
        }
    }

    &__half{
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__text{
        display: flex;
        align-items: center;
        gap: 12px;
        p{
            color: var(--text-color-dop);
            font-size: 14px;
        }
    }
}

.product-info{
    display: flex;
    gap: 16px;
    margin-top: 16px;

    &__img-card{
        position: sticky;
        top: 0;
    }

    &__slide{
        background: var(--main-background-windows);
        border-radius: 5px !important;

        img{
            border-radius: 5px !important;
        }
    }

    .mySwiperProduct{
        .product-info__slide{
            cursor: pointer;
        }
    }

    &__img{
        width: 450px;
    }

    &__content{
        width: calc(100% - 450px);
    }

    &__stocks-container{
        display: flex;
        width: 100%;
        overflow-x: auto;
        gap: 8px;

        &::-webkit-scrollbar {
			height: 0px;
			background-color: #e0e0e0; /* blue */
	   	}
    }

    &__stocks{
        display: flex;
        align-items: center;
        line-height: 1;
        justify-content: center;
        font-size: 14px;
        padding: 2px 8px 4px 8px;
        border: 1px solid;
        border-radius: 5px;
        white-space: nowrap;
        cursor: pointer;
    }
}

.mini-property{
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 16px 0;

    &__el{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        p{
            font-size: 14px;
            line-height: 16px;
            color: var(--secondary-color);
            padding-left: 10px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }

    &__name{
        color: var(--text-color-dop) !important;
        padding-left: 0;
    }

    &__all{
        cursor: pointer;
        padding-left: 10px;
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 14px;
        line-height: 1;
        transition: all 0.3s;

        .d_icon-right-arrow{
            font-size: 16px;
            position: relative;
            top: 2px;
        }

        &:hover{
            color: var(--link-color-hover);
        }
    }
}

.procutc-presence{
    margin-top: 25px;

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 12px;
        border-radius: 5px;
        border: 1px solid var(--border-color);

        &.empty{
            justify-content: center;
            padding: 32px 12px;

            p{
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                color: var(--text-color-dop);
            }
        }
    }

    &__price{
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        color: var(--secondary-color);
        // margin-bottom: 8px;
    }

    &__credit{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: var(--text-color-dop);
        line-height: 18px;
    }
}
.user-avatar-image-wrapper{
	border: 2px solid #e2e2e2 !important;
	margin-bottom: 16px;
}

.user-avatar-btn{
	cursor: pointer;
	border: 1px solid #E2E2E2 !important;

	&:hover{
        background-color: #E9E9E9 !important;
        color: var(--secondary-color) !important;
		border: 1px solid #E2E2E2 !important;
    }
}

.user-avatar-upload-btn{
	cursor: pointer;
	font-size: 14px;
    padding: 8px 16px;
    background: var(--primary-color) !important;
    color: var(--white-color) !important;
	border: none !important;

    &:hover{
        background: var(--primary-hover) !important;
        color: var(--white-color) !important;
    }
}

.prodoct-shop-count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 23px;


    img{
        border: 1px solid var(--text-color-dop);
        width: 40px;
        height: 40px !important;
        object-fit: contain;
        border-radius: 50%;
    }

    p{
        font-size: 14px;
        line-height: 1;
    }
}


.product-method-get{
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    // gap: 16px;


    .product-method-get__el{
        margin-top: 16px;
    }

    .h3{
        margin-bottom: 4px;
    }

    &__mb{
        p{
            margin-bottom: 8px;
        }
    }

    &__el{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 6px;




        p{
            font-size: 14px;
            line-height: 18px;
            
            span{
                font-size: 14px;
                line-height: 18px;
                cursor: pointer;
                color: var(--text-color-dop);
            }
        }

        span{
            display: flex !important;
            gap: 4px !important;
            font-size: 14px;
            line-height: 18px;
            color: var(--text-color-dop);
        }

        &-flex{
            span{
                display: flex;
                // align-items: center;
                gap: 6px;
                color: var(--text-color-dop);

            }    

            p{
                color: var(--text-color-dop);
                margin: 0;
            }
        }
    }
}

.product-shops{
    margin-top: 40px;

    &__card + &__card{
        margin-top: 40px
    }

    &__all{
        font-weight: 500;
        text-decoration: none;
        margin-top: 24px;
        display: block;
        width: fit-content;
        cursor: pointer;
    }

    h3{
        margin-bottom: 20px;
    }

    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;

        img{
            border: 1px solid var(--text-color-dop);
            width: 40px;
            height: 40px !important;
            object-fit: contain;
            border-radius: 50%;
        }

        p{
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            color: var(--text-color-dop);
            line-height: 18px;
        }
    }

    &__text{
        font-size: 14px;
        line-height: 1;

        p{
            font-size: 14px;
            line-height: 18px;
            color: var(--secondary-color);
        }

        span{
            font-size: 14px;
            line-height: 18px;
            color: var(--text-color-dop);    
        }

        p + p{
            margin-top: 4px;
        }
    }

    &__vender{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;
        margin-bottom: 12px;
        line-height: 18px;

        span{
            font-size: 12px;
            line-height: 18px;
            display: flex;
            align-items: center;
            gap: 6px;
            color: var(--text-color-dop);

            p{
                color: var(--text-color-dop);

            }
        }
        p{
            line-height: 18px;
            font-size: 12px;
            color: var(--secondary-color);
        }
    }
}

.product{
    &__desctipton{
        max-width: 670px;
        line-height: 18px;
        font-size: 14px;
        margin-bottom: 40px;
    }
}

.product-property{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 16px 48px;
    margin-bottom: 40px;

    &__el{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        p{
            font-size: 14px;
            line-height: 16px;
            color: var(--secondary-color);
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }

    &__name{
        color: var(--text-color-dop) !important;
        padding-right: 25px;
    }
}

.product-feedback{
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__half{
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__slider{
        position: relative;
    }

    &__el{
        margin-top: 40px;
    }

    &__el-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__hands{
        display: flex;
        align-items: center;
        gap: 12px;

        p{
            color: var(--text-color-dop);
            font-size: 14px;
            line-height: 1;
        }
    }

    &__ava{
        border: 1px solid var(--text-color-dop);
        width: 40px;
        height: 40px !important;
        object-fit: contain;
        border-radius: 50%;
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: 6px;
        font-size: 14px;
        line-height: 18px;
    }

    &__text + &__text{
        margin-top: 16px;
    }
}

.property-mobile{
    display: none;
}

.product-top-mobile{
    display: none;
}

.product-title__mobile{
    display: none;
}

.product-mobile-brand{
    display: none;
}

@media (max-width: $desktop){

    .mini-property{
        grid-template-columns: repeat(1, 1fr);
    }

    // .product-shops{
    //     &__vender{
    //         flex-direction: column;
    //         align-items: flex-start;
    //         gap: 4px;
    //     }
    // }
}

@media (max-width: 1600px){
    
    .product-shops__vender span{
        display: flex;

        // p{
        //     margin-top: 4px;
        // }
    }

    .product-method-get__el-flex span{
        display: block;

        p{
            //margin-top: 4px;
        }
    }

    .procutc-presence__right{
        .dart-btn-primary{
            font-size: 14px;
            padding: 8px 16px;
        }
    }
}

@media (max-width: 1400px){

    .product-shops{
        &__vender{
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
        }
    }

    .product-info{
        &__img{
            width: 350px;
        }

        &__content{
            width: calc(100% - 350px);
        }
    }

    // .product-info{
    //     &__img{
    //         width: 250px;
    //     }

    //     &__content{
    //         width: calc(100% - 250px);
    //     }
    // }

    .product-property{
        gap: 16px;
    }

    .product-property__name{
        padding-right: 10px;
    }
}


@media (max-width: $small-desktop){
   

    .mini-property{
        grid-template-columns: repeat(2, 1fr);
    }

    .product-info{
        &__img{
            width: 450px;
        }

        &__content{
            width: calc(100% - 450px);
        }
    }


    .product-shops__vender span{
        display: flex;

        p{
            margin-top: 0px;
        }
    }

    .product-method-get__el-flex span{
        display: flex;

        p{
            margin-top: 0px;
        }
    }
}

@media (max-width: $tablets){
    .product-info{
        &__img{
            width: 300px;
        }

        &__content{
            width: calc(100% - 300px);
        }
    }

}

@media (max-width: 1100px){
    .mini-property{
        grid-template-columns: repeat(1, 1fr);
    }

    .product-shops__vender span{
        display: block;

        p{
            margin-top: 4px;
        }
    }

    .product-method-get__el-flex span{
        //display: block;

        p{
            //margin-top: 4px;
        }
    }
}

@media (max-width: $small-tablets){
    // .product-title{
    //     background: aquamarine;
    // }

    .breadcrumb{
        font-size: 14px;
    }

    .product-top-mobile{
        display: block;
        height: 100%;
        width: 100%;
    }

    .product-top-mobile__img{
        width: 100%;
        height: 500px;
        max-height: 500px;
    }

    .product-info__img{
        display: none;
    }

    .mySwiperProductMobile{
        height: 100%;
        width: 100%;
    }

    .product-info__slide{
        display: flex !important;
        justify-content: center;

        img{
            object-fit: cover;
            height: 90% !important;
        }
    }

    .product-info__content{
        width: 100%;
    }

    .product-title__mobile{
        display: flex;
        flex-direction: column;

        .product-info__stocks-container{
            margin-top: 20px;
            margin-bottom: 8px;
        }

        .product-speed-info__text{
            margin-bottom: 8px;
        }
    }

    .product-speed-info{
        .product-speed-info__text{
            display: none;
        }
    }

    .product-info__content{
        .product-info__stocks-container{
            display: none;
        }

        .product-info__mini-property{
            display: none;
        }
    }

    .procutc-presence{
        margin-top: 20px;
    }

    .prodoct-shop-count{
        margin-top: 12px;
    }

    .product-shops{
        &__card + &__card{
            margin-top: 32px;
        }
    }

    .product-method-get{
        p{
            font-size: 12px;
            line-height: 14px;
        }

        span{
            font-size: 12px;
            line-height: 14px;
        }
    }

    .product-shops{
        margin-top: 32px;
    }

    .product-shops__text{
        p{
            font-size: 12px;
            line-height: 14px;
        }

        span{
            font-size: 12px;
            line-height: 14px;
        }
    }

    .product-shops__text span{
        display: flex;
    }

    .product__desctipton{
        font-size: 12px;
        margin-bottom: 32px;
    }

}

@media (max-width: $big-phones){

    .product-method-get__el-flex span{
        display: block !important;

        p{
            margin-top: 4px;
        }
    }

    .product-property{
        grid-template-columns: repeat(1, 1fr);
    }

    .product-property__el{
        p{
            padding-left: 20px;
        }
    }

    .product-property__name{
        padding-left: 0px !important;
    }

    .product-feedback{
        b{
            font-size: 15px;
        }

        .changeShopRating__answer{
            p{
                font-size: 12px;
            }

            span{
                font-size: 12px;
            }

            b{
                font-size: 12px;
            }
        }

        .changeShopRating__text{
            font-size: 12px;
        }
    }

    .product-feedback__text{
        b{
            font-size: 12px;
        }

        p{
            font-size: 12px;
        }
    }

    .product-top-mobile__img{
        height: 350px;
    }


    .product-title{
        img{
            display: none;
        }

        .h1-mini{
            font-size: 21px;
        }
    }

    .product-mobile-brand{
        display: block;

        img{
            width: 95px;
            height: 35px;
            object-fit: cover;
            border-radius: 5px;
            margin-top: 16px;
        }
    }

    .product-shops__text span{
        display: block;
    }

    .product-property{
        max-height: 120px;
        overflow: hidden;
        transition: all 0.8s;
        margin-bottom: 12px;
    }

    .property-mobile{
        display: flex;
        margin-bottom: 30px;
        padding: 0;
    }

}

@media (max-width: $phones){
    .product-top-mobile__img{
        height: 300px;
    }

    .product-speed-info__comparison p{
        font-size: 12px;
    }
}