.mini-info-shop{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 0;
    justify-content: space-between;

    &__image{
        border-radius: 64px;
        border: 1px solid var(--link-color-hover);
        width: 64px;
        height: 64px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 100%;
            object-fit: cover;
        }
    }

    &__text{
        span{
            color: var(--link-color-hover);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            // margin-left: 8px;
        }
    }

    &__content{
        display: flex;
        align-items: center;
        gap: 12px;
    }
}

.comparison .loading{
    // visibility: hidden !important;
    min-height: auto !important;
}

.dartSwiperSearch{
    // margin-bottom: 50px;



    &__text{
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 135px);

        .dart-rating{
            margin-top: 8px;
            margin-bottom: 30px;
        }

        a{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            line-height: 18px;
        }
    }

    &__code{
        color: var(--link-color-hover);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 8px;
        margin-top: 4px;
    }

    &__image{
        height: 145px;
        display: flex;
        align-items: center;
        justify-content: center;

        a{
            height: 100%;
            width: 100%;
        }

        img{
            height: 100% !important;
            width: 100%;
            object-fit: contain;
        }

        a{
            height: 100%;
            width: 100%;
        }
    }

    &__info{
        a{
            height: 54px;
        }
    }

    &__sale{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        color: var(--secondary-color);
        margin-bottom: 16px;
        height: 16px;
    }

    &__buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        &-w100{
            width: 100% !important;
        }

        form{
            width: calc(100% - 36px);
        }

        .dart-btn-secondary-outline{
            border: none;
            // background: #F8F7F5;
            width: 100%;
        }

        .dartSwiperSearch__sale{
            margin-bottom: 0;
        }

        .d_icon-setting{
            width: 20px;
            display: flex;
            height: 20px;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
        }
    }
}

.search-filters-mobile{

    &__center{
        display: flex;
        align-items: center;
    }


    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    display: none;
    justify-content: flex-end;

    .d_icon-filtr{
        font-size: 24px;
    }
}

.dart-swiper-search{
    margin-bottom: 40px;
    margin-top: 20px;
    position: relative;

    &__mb{
        margin-bottom: 0px;
    }
}

.search-filtrs{
    width: 100%;
    border-radius: 5px;
    background: var(--main-background-windows);
    padding: 24px 16px;

    &__title{
        margin-bottom: 24px;
    }

    &__overflow-none{
        height: auto !important;
    }

    * + &__title{
        margin-top: 32px;
    }

    &__cheackbox-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
        gap: 8px 0;
        height: 150px;
        overflow: hidden;
    }

    &_all-filter{
        margin-top: 8px;
        color: var(--text-color-dop);
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
    }
}

.fitler-mini{
    &.show{
        .search-filtrs__cheackbox-container{
            overflow-y: auto;

            &::-webkit-scrollbar {
				width: 8px;
				background-color: #e0e0e0; /* blue */
				border-radius: 9em;
			}
	
			&::-webkit-scrollbar-thumb {
					background-color: #b4b4b4; /* green */
					border-radius: 9em;
			}
        }
    }
}

.dart-cheackbox-container{
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    gap: 8px;

    &.fake{
        label:hover::before{
            border-color: var(--primary-hover);
        }
    }

    &.fake.active{
        label{
            &::before{
                border-color: var(--primary-color);
                background-color: transparent;
                background-image: url("../img/icons/checkmark.svg");
                background-size: 80%;
            }
        }
    }

    input:disabled + label{
        cursor: no-drop;
        color: var(--text-color-dop);

        &:hover::before{
            border: 1px solid #adb5bd;
        }
    }
}

.polzunok-container-5{
    padding: 0 20px 5px;
}

.polzunok-container-5 * {
    box-sizing: border-box;
    outline: none;
}
.polzunok-container-5 {

}
.polzunok-container-5:after {
    content: "";
    clear: both;
    display: table;
}
.polzunok-container-5 .ui-slider {
    position: relative;
    background: #CCC;
    height: 2px;
    border-radius:10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(255, 255, 255, 1);
}
.polzunok-container-5 .ui-slider .ui-slider-handle {
    position: absolute;
    // margin-left: -16px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
    top: -5px;
    background: var(--primary-color);
    z-index: 2;
    transition: transform 0.2s, border 0.4s;
    outline: none;
}

.polzunok-container-5 .ui-slider .ui-slider-handle:hover,
.polzunok-container-5 .ui-slider .ui-slider-handle:focus {
    border-color: var(--primary-color);
}

.polzunok-container-5 .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 3px;
    border: 0;
    background: var(--primary-color);
    border-radius:10px;
    top: -1px;
}

@media (max-width: $small-desktop){
    .search-filters-mobile{
        display: flex;
    }
}

// dart-link-all

@media (max-width: $big-phones){
    .dart-link-all{
        display: none;
    }

    .mini-info-shop{
        &__image{
            width: 40px;
            height: 40px;
        }

        &__text{
            width: calc(100% - 52px);
        }
    }

    .dartSwiperSearch__image{
        height: 105px !important;
    }

    .dartSwiperSearch .dart-btn-secondary-outline{
        padding: 10px 16px;
        font-size: 14px;
    }

    .dartSwiperSearch__text .dart-rating{
        margin-bottom: 12px;
    }
}

@media (max-width: $phones){

}
