.city_complete{
    padding-left: 48px;
}

.modal_input{
    padding: 4px 40px 12px;
    position: relative;

    .d_icon-search{
        position: absolute;
        top: 15px;
        left: 56px;
        color: $grey;
    }

    input{
        color: $grey;
        max-width: 600px;
    }
}

.modal_radio_button{
    margin: 16px 0 24px 0;
    padding: 0 40px;
    input[type="radio"] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      label:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 0.5em;
        border-radius: 100%;
        vertical-align: -3px;
        border: 2px solid $grey;
        padding: 0.13em;
        background-color: transparent;
        background-clip: content-box;
      }
      label {
        margin-right: 1em;
      }
      input:hover + label:before {
        border-color: $primary-color;
      }
      input:checked + label:before {
        background-color: $primary-color;
        border-color: $primary-color;
      }
}


.cities_elem{
    display: flex;
    flex-direction: column;
    // break-inside: avoid;
}

.cities{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    // column-count: 3;

    .cities_alfovite_letter{
        margin-bottom: 16px;
        margin-top: 8px;
    }

    .cities_alfovite_city{
        margin-bottom: 16px;
    }

    a{
        cursor: pointer;
        color: gray;
        text-decoration: none;

        &:hover {
            color: $primary-color;
            text-decoration: none;
        }
    }
}

#choice_city{
    &.filter_city{
        .alfovit_filter{
            display: none;
        }

        .region_filter{
            display: grid;
        }
    }

    .alfovit_filter{
        display: grid;
    }

    .region_filter{
        display: none;
    }
}


@media only screen and (max-width: $big-phones) { 
    .cities{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        // column-count: 2;
    }
}


// Выбор магазина

.shop_choice{
    // column-count: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 24px 0;

    &_item{
        display: flex;
        flex-direction: column;
        line-height: 1;
        padding-right: 15px;
        // margin-bottom: 24px;
        break-inside: avoid;

        a{
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;

            &:hover{
                color: $secondary-color;
                text-decoration: underline;
            }
        }

        &_address{
            color: $secondary-color;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            margin: 8px 0;
        }

        &_time{
            color: $grey;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
        }
    }
}

.choice_store{
    .modal-body{
        max-height: 270px;
        min-height: 180px;
    }
}

.choice_store_map{
    max-height: 400px;
    padding: 12px 40px 30px;
    display: inline-flex;

    *:first-child{
        object-fit: cover;
    }
}

#choice_store{
    .toggler{
        display: none;
    }
}

.choice_mobile_shop_map{
    display: none;
    min-height: 600px;
}


@media only screen and (max-width: $tablets) { 
    #choice_store{

        &.display_map_or_list{
            .btn-list{
                display: block;
            }
            .btn-map{
                display: none;
            }

            .choice_shop_list{
                display: none;
            }

            .choice_mobile_shop_map{
                display: block;
                height: 600px;

                *:first-child{
                    object-fit: cover;
                    margin: 0;
                    height: 100% !important;
                }
            }
        }
        
        .modal-body {
            min-height: 650px;
        }

        .btn-list{
            display: none;
        }

        .btn-map{
            display: block;
        }

        .toggler{
            display: block;
        }

        // .modal-body{
        //     min-height: 180px;
        // }

        .choice_store_map{
            display: none;
        }

        .toggler{
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }

    .shop_choice{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: $big-phones) {
    .shop_choice{
        grid-template-columns: repeat(1, 1fr);
    }
}

.search_input_shop{
    // padding: 4px 40px 12px;
    position: relative;
    margin-bottom: 24px;

    .d_icon-search{
        position: absolute;
        top: 11px;
        left: 16px;    
        color: $grey;
    }

    input{
        color: $grey;
        max-width: 800px;
    }
}

.shops_nearby_container{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    gap: 24px 0;

    &_item{
        display: flex;
        flex-direction: column;
    }

    a{
        text-decoration: none;
        font-size: 16px;
        margin: 8px 0 8px 0;

        &:hover{
            color: $secondary-color;
            text-decoration: underline;
        }
    }

    &_image{
        background-color: #fff;
        background-image: url(/img/icons/shop.svg);
        border: 1px solid rgba(0, 0, 0, 0.12);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        border-radius: 5px;
        height: 133px;

        img{
            width: 100%;
            object-fit: cover;
            height: 100% !important;
        }
    }

    &_adres{
        color: $grey;
        font-size: 14px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: $tablets) { 
    .shops_nearby_container_adres{
        padding: 0;
    }
}