.dart-btn{
    border-radius: 5px;
    padding: 15px 24px;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    transition: all 0.3s;
    display: inline-block;
    text-align: center;
}

.dart-btn-primary{
    background: var(--primary-color);
    color: var(--white-color);

    &:hover{
        background: var(--primary-hover);
        color: var(--white-color);
    }
}

.dart-btn-secondary{
    background: var(--white-color);
    color: var(--secondary-color);
    border: 1px solid #E2E2E2;

    &:hover{
        background: var(--btn-secondary-color);
        color: var(--secondary-color);
    }
}

.dart-btn-secondary-outline{
    background: var(--btn-secondary-outline-background);
    color: var(--btn-secondary-outline-color);

    &:hover{
        background: var(--btn-secondary-outline-hover);
        color: var(--btn-secondary-outline-color);
    }
}

.dart-btn-icon-list{
    color: var(--secondary-color);
    border: 1px solid var(--border-color);
    background: var(--white-color);
    display: inline-flex;
    align-items: center;
    gap: 8px;

    .d_icon-down-arrow{
        font-size: 12px;
        position: relative;
        top: 2px;
    }

    &:hover{
        color: var(--secondary-color);
        background-color: var(--btn-secondary-color);
    }
}

.dart-btn-radio{
    padding: 0;
    input{
        display: none;
    }

    label{
        background-color: var(--btn-secondary-outline-background);
        color: var(--secondary-color);
        cursor: pointer;
        padding: 15px 24px;
        border-radius: 5px;

        &:hover{
            background-color: var(--btn-secondary-outline-hover);
        }
    }

    input:checked + label{
        background-color: var(--secondary-color);
        color: var(--white-color);
    } 
}

.dart-input input{
    outline: none;
    border-radius: 5px;
    background: var(--btn-secondary-outline-background);
    transition: all 0.3s;
    color: var(--secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    width: 100%;
}

.dart-input-search input{
    padding: 16px 44px;
    border: 1px solid transparent;

    &:focus{
        border: 1px solid var(--border-color);
    }
}

.dart-input-search{
    position: relative;
    &::before{
        content: "\e90b";
        position: absolute;
        font-size: 24px;
        font-family: 'icomoon' !important;
        top: 50%;
        transform: translate(0, -50%);
        left: 12px;
        z-index: 1;
    }
}

.dart-input-text input{
    padding: 16px 12px;
    border: 1px solid transparent;

    &:focus{
        border: 1px solid var(--border-color);
    }
}

.dart-btn-next{
    &:hover{
        background: var(--color-prev-hover);
        filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.08));
        transition: all .3s;
    }
}

.dart-btn-prev{
    &:hover{
        background: var(--color-prev-hover);
        filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.08));
        transition: all .3s;
    }
}

.dart-link-all{
    &:hover{
        color: var(--link-color-hover);
        transition: all .3s;
    }
}