.dartSwiperContrast{
    &__last{
        background: var(--btn-secondary-outline-background);
        height: auto !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span{
            display: flex;
            align-items: center;
            gap: 8px;
        }

    }
}

.dart-contrast{
    background: var(--main-background-windows);
    padding-bottom: 20px;
}

.contrast{
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__table{
        margin-top: 30px;
        width: calc(100% + 48px);
        position: relative;
        right: 24px;
    }

    &__row{
        width: 100%;
        padding: 12px 24px;

        &.different.hide{
            display: none;
        }
    }

    &__row:nth-child(2n - 1){
        background: var(--btn-secondary-outline-background);
    }

    &__title{
        margin-bottom: 8px;
        max-width: calc(25% - 8px);
    }

    &__value{
        width: calc(25%);
        display: none;

        &.active{
            display: block;
        }
    }

    &__detals{
        display: flex;
        // margin-right: 8px;
    }
}

.dart-swiper-contrast{
    position: relative;
}


.contrastSwiper{
    &.sticky{

        .dart-swiper-contrast{
            position: sticky;
            overflow: hidden;
            top: 0;
            background: var(--main-background-windows);
            z-index: 1;
            padding: 0 24px;
            width: calc(100% + 48px);
            transform: translateX(-24px);
        }

        .dart-rating{
            margin-bottom: 0;
        }

        .contast-category{
            margin-top: 155px;
        }

        .dartSwiperContrast{
            &__slide{
                margin: 24px 0;
            }
            &__card{
                display: flex;
                gap: 4px;
            }

            &__sticky{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        

        .dartSwiperSearch{
            &__buttons{
                display: none;
            }

            &__sale{
                display: none;
            }

            &__image{
                width: 70px;
                height: 70px;
            }

            &__code{
                display: none;
            }
        }
    }
}

.dartSwiperContrast{

    &__slide{
        &:hover{
            .dartSwiperContrast{
                &__close{
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }
    

    &__sticky{
        display: none;
    }

    &__close{
        width: 24px;
        height: 24px;
        background: var(--btn-secondary-outline-hover);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        top: 12px;
        right: 12px;

        .d_icon-close{
            font-size: 10px;
            color: #fff;
            position: relative;
            top: 1px;
        }

        &:hover{
            background: var(--link-color-hover);
        }
    }
}

.contast-category{
    margin-bottom: 32px;
    display: flex;
    gap: 8px;
    
    &__close{
        width: 0;
        height: 0;
        background: var(--btn-secondary-outline-hover);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;

        .d_icon-close{
            font-size: 10px;
            color: #fff;
            position: relative;
            top: 1px;
        }

        &:hover{
            background: var(--link-color-hover);
        }
    }

    &__el{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 16px;
        width: fit-content;
        position: relative;
        background-color: var(--main-background-windows);
        box-shadow: 0px 0px 12px 0px rgba(51, 51, 51, 0.15);
        cursor: pointer;

        &:hover{
            background: var(--btn-secondary-outline-background);

            .contast-category{
                &__close{
                    opacity: 1;
                    pointer-events: all;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

@media (max-width: $desktop){
   
}

@media (max-width: 1600px){
    
    .contrastSwiper.sticky{
        .dartSwiperContrast__sticky{
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            b{
                margin-bottom: 4px;
            }
        }
    }
}

@media (max-width: 1400px){
    .contrast__value{
        width: 33.33%;
    }

    .contrastSwiper.sticky{
        .dartSwiperSearch__buttons{
            .dart-btn-secondary{
                padding: 10px 8px;
                width: fit-content;
            }
        }
    }

    .contrastSwiper.sticky .dartSwiperContrast__sticky{
        align-items: flex-start
    }

    .dartSwiperSearch__text{
        padding: 0;
        p{
            font-size: 12px;
        }
    }

    .contrastSwiper.sticky {
        .dartSwiperSearch__image{
            width: 50px !important;
            height: 50px !important;
        }

        .dartSwiperSearch__text p{
            padding-right: 30px;
        }
    }

    .contrastSwiper.sticky .dartSwiperContrast__slide{
        margin: 16px 0;
    }
}


@media (max-width: $small-desktop){
    .contrast__value{
        width: 25%;
    }

    .contrastSwiper.sticky .dartSwiperContrast__sticky{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        b{
            margin-bottom: 0px;
        }
    }    
}

@media (max-width: 800px){
    .contrast__value{
        width: 33.33%;
    }

    .contast-category__el{
        padding: 8px 12px;
        box-shadow: none;
        white-space: nowrap;
        border: 1px solid var(--border-color);
        border-radius: 5px;
    }

    .contast-category{
        width: 100%;
        overflow-x: auto;


        &::-webkit-scrollbar {
			height: 0px;
			background-color: #e0e0e0; /* blue */
	   	}
    }

    .contrastSwiper.sticky{
        .dartSwiperContrast__sticky{
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            b{
                margin-bottom: 4px;
            }
        }
    }
}

@media (max-width: 500px){
    .contrast__value{
        width: 50%;
    }
}



@media (max-width: $small-tablets){
    
    
}

@media (max-width: $big-phones){
    .contrast__nav{
        margin-top: 12px;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: $phones){

}