@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'uikit';
@import 'index';
@import 'global';
@import 'search';
@import 'catalog';
@import 'product';
@import 'profile';
@import 'promo';
@import 'text';


@keyframes spinner-border {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    from {
        transform: rotate(360deg); 
    }
    to {
        transform: rotate(0deg); 
    } 
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideme {
    0% {
        left: -130px;
        margin-left: 0px; 
    }
    30% {
        left: 150%;
        margin-left: 150px; 
    }
    100% {
        left: 150%;
        margin-left: 150px; 
    } 
}
  
.loader,
.loader:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
  
.loader {
    margin: 30px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.5em solid rgba(0, 0, 0, 0.2);
    border-right: 0.5em solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.5em solid rgba(0, 0, 0, 0.2);
    border-left: 0.5em solid $primary-color;
    transform: translateZ(0);
    animation: load 1.1s infinite linear;
}

body.fm-hide .fm-panel a.fm-mode span img{
    height: 14px !important;
}

::selection { 
    background-color: $secondary-color; 
    color: rgb(255, 255, 255); 
}

.d-services{
    display: none;
    .visual_block .preloader-inblock{
        display: none;
    }
    .visual_block.loading .preloader-inblock{
        display: block;
    }
}

#service-map {
    height: 300px;
    width: 100%;
}

.sl_baloon_header {
    font-weight: bold;
    font-size: 16px;
    img {
        max-width: 20px;
        display: inline-block;
        margin-right: 5px;
    }
}
  
.sl_baloon_block {
    margin-top: 10px;
}
  
.sl_baloon_submit button {
    background: $primary-color;
    color: #fff;
    border-radius: 5px;
    padding: 0.8em 1em;
    font-size: 1.1em;
    margin: 0.5em 0;
    border: none;
    cursor: pointer;
}
  
.choosed_data {
    display: none;
    &.active {
        display: block;
    }
}
  
.service-map {
    display: none;
    &.active {
        display: block;
    }
}

.preloader-inblock{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dart-section {
    padding: 30px 0;
    overflow: hidden;
    &.posst{
        overflow: inherit;
    }
    &.dart_blog{
        max-width: 1500px;
    }
    &-cart{
        overflow: inherit;
    }
    &__header{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        &.dart-section__header-wrap{
            padding: 0 12px;
        }
        // h2,
        // .h2{
        //     margin: 0;
        //     & + *{
        //         margin-top: 0 !important;
        //     }
        // }
        a:not(.dart-btn){
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.3;
            text-align: right;
            letter-spacing: 1.25px;
            text-decoration-line: underline;
            color: $secondary-color;
            &:hover{
                text-decoration: none;
            }
        }
    }
    h2,
    .h2 {
        display: block;
        color: var(--secondary-color);
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        & + *{
            margin-top: 20px;
        }
    }

    &.dart-section-dark{
        background: $secondary-color;
        // h2,
        // .h2{
        //     color: #FCFCFC;
        // }
        p{
            color: #CCCCCC;
        }
        .dart-section__header{
            a{
                color: #FCFCFC;
            }
        }
    }
}
